@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #070707;
}

main {
    min-height: 85vh;
    max-height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #070707;
    color: #fff;
    height: 4vh;
}

p {
    text-align: justify;
}

.logo {
    font-family: 'New Rocker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}

.pcd {
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}

.btn-pcd {
    color: #fff;
    background-color: crimson;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    font-size: large;
    border-radius: 10px;
}

.btn-pcd:hover {
    color: #070707;
    background-color: #fff;
}

button {
    border: none;
}

.limitador {
    margin-top: 13vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lead {
    font-size: 1.5rem;
}

.btn-conteudo {
    text-align: center;
}

.modo-contraste{
    background-color: #141414;
    color: #fff;
}

#slider {
    margin: 0 auto;
    width: 100%;
 }

#slider img {
    width: 18rem;
    height: 200px;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

.inicio p {
    text-indent: 1.5rem;
    word-spacing: 5px;
    line-height: 28px;
}

.label-float input, .form-select {
    border: 0;
    border-bottom: 2px solid crimson;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding: 10px 0px;
}

.textos {
    border-bottom: 2px solid crimson;
    border-radius: 0;
}

.fa-eye {
    position: absolute;
    top: 43px;
    right: 10px;
    cursor: pointer;
    color: #070707;
    padding: 0px 20px;
}

.detalhe img {
    max-width: 100%;
}

.card-body {
    background-color: crimson;
    color: #070707;
}

.login {
    background-color: #fff;
    color: #070707;
}

.card-link {
    color: darkblue;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
}

.card-link:hover {
    color: darkblue;
}

.fa-xmark, .fa-lock-open, .fa-lock, .fa-house  {
    font-size: 1.5rem;
}

.breadcrumb-item a{
    color: crimson;
    text-decoration: none;
}

@media screen and (max-width: 490px) {
    .btn-conteudo {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
}