*, *::after, *::before {
    box-sizing: border-box;
}

.pcd {
    display: flex;
    justify-content: flex-end;
    background-color: #070707;
    height: 38px;
    align-items: center;
}

.btn-pcd {
    color: #fff;
    background-color: #c72434;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    font-size: large;
    border-radius: 10px;
}

.btn-pcd:hover {
    color: #070707;
    background-color: #fff;
}

.modo-contraste{
    background-color: #070707;
    color: #fff;
}

#slider {
    margin: 0 auto;
    width: 100%;
 }

#slider img {
    width: 18rem;
    height: 200px;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

.inicio p {
    text-indent: 1.5rem;
    word-spacing: 5px;
    line-height: 28px;
}