@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mask-img {
    overflow-y: hidden; 
    height: 200px;
    display: flex;
}

.mask-imagem {
    overflow-y: hidden; 
    max-height: 250px;
    display: block;
}

header {
    background-color: #070707;
}

main {
    min-height: 85vh;
    max-height: auto;
    padding-bottom: 35px;
}

footer {
    background-color: #070707;
    color: #fff;
    height: 4vh;
}

p {
    text-align: justify;
}

.logo {
    font-family: 'New Rocker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}

.pcd {
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}

.btn-pcd {
    color: #fff;
    background-color: crimson;
    font-weight: bold;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    font-size: large;
    border-radius: 10px;
}

.btn-pcd:hover {
    color: #070707;
    background-color: #fff;
}

button {
    border: none;
}

.limitador {
    margin-top: 12vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lead {
    font-size: 1.5rem;
}

.btn-conteudo {
    text-align: center;
}

.modo-contraste{
    background-color: #141414;
    color: #fff;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

.inicio p {
    text-indent: 1.5rem;
    word-spacing: 5px;
    line-height: 28px;
}

.label-float input, .form-select {
    border: 0;
    border-bottom: 2px solid crimson;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding: 10px 0px;
}

.textos {
    border-bottom: 2px solid crimson;
    border-radius: 0;
}

.fa-eye {
    position: absolute;
    top: 43px;
    right: 10px;
    cursor: pointer;
    color: #070707;
    padding: 0px 20px;
}

.detalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalhe img {
    max-width: 80%;
    max-height: 100%;
}

#slider .card-body {
    height: 130px;
}

.card-body {
    background-color: crimson;
    color: #070707;
}

.login {
    background-color: #fff;
    color: #070707;
}

#slick {
    height: 50vh;
}

.card-link {
    color: darkblue;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
}

.card-link:hover {
    color: darkblue;
}

.fa-xmark, .fa-lock-open, .fa-lock, .fa-house  {
    font-size: 1.5rem;
}

.breadcrumb-item a{
    color: crimson;
    text-decoration: none;
}

.quiz-rock {
    background-color: crimson;
    border-radius: 20px;
    padding: 0px 10px;
}

#btn, #enviar{
    font-size: 1.2em;
    background: #070707;
    border: 0;
    margin-bottom: 1rem;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

.card-header img {
    clip-path: inset(300px);
}

.comentario {
    border: #070707 1px solid;
    background-color: crimson;
    border-radius: 10px;
    padding: 10px;
}

.comentar-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 490px) {
    .btn-conteudo {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
}

@media screen and (max-width: 1024px) {
    .mask-imagem {
        overflow-y: hidden; 
        height: 170px;
        display: block;
    }

    .mask-img {
        overflow-y: hidden; 
        height: 200px;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .mask-imagem {
        overflow-y: hidden; 
        height: auto;
        display: block;
    }

    .mask-img {
        overflow-y: hidden; 
        max-height: 250px;
        display: block;
    }

    #slider .card-body {
        height: auto;
    }
}